body {
    font-family: 'Comic Sans MS', cursive;
    margin: 0;
    padding: 0;
    background-color: rgb(202, 202, 210);
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffffec;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
    margin: 10px;
  }
  
  ul {
    padding: 0;
  }
  
  li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
    margin: 10px;
  }
  
  button {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Comic Sans MS', cursive;
    font-weight: bold;

  }
  
  button:hover {
    background-color: #218838;
  }
  
  form {
    margin: 20px;

  }
  
  label {
    display: block;
    margin: 10px;
    color: #333;
  }
  
  input {
    padding: 8px;
    width: 70%;
    margin: 10px;
  }